main{
    color: white;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 30px;
}

blockquote {
    border:none;
    font-family:Georgia, "Times New Roman", Times, serif;
    margin-bottom:-30px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote h3 {
font-size:21px;
}

blockquote h3:before { 
    content: open-quote;
    font-weight: bold;
    font-size:100px;
    color:white;
    display: block;
}

blockquote span:before { 
    content: open-quote;
    font-weight: bold;
    font-size:22px;
    margin-right: 5px;
}

.card{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.redcard{
    background-color: rgb(214, 101, 83);
    flex-direction: column;
}

.invereseColor{
    background-color: white;
    color: black;
}

.borderedText{
    color: white;
    border: solid 4px white;
    width: 200px;
    height: 200px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

.borderedText:after{
    content: "";
    border-bottom: solid 4px white;
    height: 1px;
    width: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.myButton{
    background-color: unset;
    border: solid 2px white;
    color: white;
    padding: 10px;
    display: unset;
    margin-top: 30px;
}

.myButton:hover{
    background-color: white;
    color: red;
    transition: 500ms;
}

.theManClass{
    background: url(./assets/cameraman.jpg);
    background-position: center;
    background-size: cover;
    background-color: #333333;
    background-blend-mode: multiply;
    text-transform: uppercase;
    
}

.secondPicture{
    background: url(./assets/page.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 30px 100px rgba(0,0,0,0.65) inset;
}

.card.half-sized{
    height: 400px;
}

.card.third-sized{
    height: 250px;
}

.half-sized{
    width: 50%;
    font-size: 25px;
}

.third-sized{
    width: 33%;
    font-size: 22px;
}